* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: Arial, sans-serif;

    background: #111827;

    color: white;
}

.app {
    min-height: 100vh;

    display: flex;

    align-items: center;
    justify-content: center;
}

/* =========================
   CHESS BOARD
========================= */

.chess-piece {
    width: 80%;
    height: 80%;

    object-fit: contain;

    display: block;

    pointer-events: none;
}

/* =========================
   CHESS BOARD
========================= */

.chess-board {
    width: min(90vw, 650px);
    aspect-ratio: 1 / 1;

    display: grid;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border: 5px solid #333;
}



